body{
    background-image: url('https://images.unsplash.com/photo-1670299025158-c7f9c94e2e2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
    transition: all 200ms;
    text-align: center;
}
form{
    background-color:#e5b9739f;
    padding: 7px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3px;
}
button{
    background-color: #C58940;
    color: #FAF8F1;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 4px;
    margin: 2px;
    border-radius: 10px;
    font-weight: bold;
    
}
h1{
    color:#FAEAB1;
    text-align: center;
    
}
.qcontainer{
    background-color: #FAF8F1;
    width: 350px;
    height: 350px;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    justify-items: center;
    display: flex;
    flex-flow: column wrap;
}

.question{
    background-color: #E5BA73;
    color: #FAF8F1;
    width: 380px;
    height: 60px;
    line-height: 50px;
    padding: 1px;
    margin: 7px 3px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

label{
    background-color: #FAEAB1;
    color: #C58940;
    width: 380px;
    height: 50px;
    line-height: 50px;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
input[type
='radio']{
    display: none;
    
} 
input:checked  +label{
    background-color: #11bfae49;
    cursor: pointer;
}

button{
    background-color: #FAEAB1;
    color: #C58940;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 2px;
    margin: 2px;

}